#root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    width: 150px;
    height: 40px;
    background-color: #333;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.error-validation-message {
    color: red;
    font-size: 0.9em;
    padding: 0px;
}