.rounded-button-container {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    border: 3px solid black;
    border-radius: 50%;
    transform: rotate(0);
    transition: .3s ease;
}


.rounded-button-container:hover {
    transform: rotate(360deg);
}

.add {
    background-image: url('../../../assets/icons/plus.svg');
}

.remove {
    background-image: url('../../../assets/icons/trash.svg');
}

.edit {
    background-image: url('../../../assets/icons/pencil.svg');
}
